<html lang="pt">
	<head>
		<meta charset="utf-8">
        <title>Odisseia</title>
        <style>
			html {
				font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
			}
            table, th, td {
              border: 1px solid black;
              border-collapse: collapse;
            }
        </style>
	</head>
	<body>
        <form method="POST" action="analises">
			<input type="text" id="num_analise" name="num_analise" placeholder="Número da Análise"/><br>
			<input type="text" id="especialidade" name="especialidade" placeholder="Especialidade"/><br>
			{% if consultas %}
			<label for="consulta">Consulta:</consulta>
			<select name="consulta" id="consulta">
				<option value="__" selected="selected">Sem consulta</option>
				{% for consulta in consultas %}
					<option value="{{ consulta[0] }}_{{ consulta[1] }}_{{ consulta[2]}}">Medico: {{consulta[0]}} Doente: {{consulta[1]}} Data: {{consulta[2]}}</option>
				{% endfor %}
			</select>
			{% endif %}
			<br>
			<input type="text" id="nome" name="nome" placeholder="Nome"/><br>
			<input type="text" id="quant" name="quant" placeholder="Quantidade"/><br>
			{% if instituicoes %}
				<label for="inst">Instituição:</consulta>
				<select name="inst" id="inst">
					{% for instituicao in instituicoes %}
						<option value="{{ instituicao[0] }}">{{instituicao[0]}}</option>
					{% endfor %}
				</select>
			{% endif %}
			<br>
            <input type="submit" value="Adicionar"/>
		</form>
        {% if cursor %}
		  
		<table style="width:90%">
		  <thead>
			<tr>
			  <th>Número de Análise</th>
			  <th>Especialidade</th>
			  <th>Número de cédula</th>
			  <th>Doente</th>
			  <th>Data Consulta</th>
			  <th>Data Registo</th>
			  <th>Nome</th>
			  <th>Quantidade</th>
			  <th>Instituição</th>
			</tr>
		  </thead>
		  <tbody>      
			{% for record in cursor %}
			  <tr>
				<td>{{ record[0] }}</td>
				<td>{{ record[1] }}</td>
				<td>{{ record[2] }}</td>
				<td>{{ record[3] }}</td>
                <td>{{ record[4] }}</td>
                <td>{{ record[5] }}</td>
                <td>{{ record[6] }}</td>
                <td>{{ record[7] }}</td>
                <td>{{ record[8] }}</td>
				<td><a href="editar_analise?num_analise={{ record[0] }}">Editar</a></td>
				<td><a href="apagar_analise?num_analise={{ record[0] }}">Apagar</a></td>
			  </tr>
			{% endfor %}
		  </tbody>
		</table>
	  {% else %}
		<p> Error: failed to retreive data from database!</p>
	  {% endif %}
	  <br>
	  <a href="index">Pagina inicial</a>
	</body>
</html>