<html lang="pt">
	<head>
		<meta charset="utf-8">
        <title>Odisseia</title>
        <style>
			html {
				font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
			}
            table, th, td {
              border: 1px solid black;
              border-collapse: collapse;
            }
        </style>
	</head>
	<body>
		{% if cursor %}
		{% for record in cursor %}
			<h1>Editar prescricao {{ record[0] }}, {{ record[1] }}, {{ record[2] }}, {{ record[3] }}</h1>
			<form method="POST" action="editar_prescricao">
				<input type="hidden" type="text" id="num_cedula" name="num_cedula" value="{{ record[0] }}"/><br>
				<input type="hidden" type="text" id="num_doente" name="num_doente" value="{{ record[1] }}"/><br>
				<input type="hidden" type="text" id="data_consulta" name="data_consulta" value="{{ record[2] }}"/><br>
				<input type="hidden" type="text" id="substancia" name="substancia" value="{{ record[3] }}"/><br>
				<input type="text" id="quant" name="quant" value="{{ record[4] }}"/><br>
				<input type="submit" value="Editar"/>
			</form>
		{% endfor %}
	  {% else %}
		<p> Error: failed to retreive data from database!</p>
	  {% endif %}
	  <br>
	  <a href="prescricoes">Voltar</a>
	</body>
</html>
