<!DOCTYPE html>
<html lang="pt">
	<head>
		<meta charset="utf-8">
		<title>Odisseia</title>
	</head>
	<body>
        <a href="medicos">Medicos</a> <br>
        <a href="instituicoes">Instituicao</a> <br>
		<a href="prescricoes">Prescricoes</a> <br>
		<a href="analises">Analises</a> <br>
		<a href="venda">Vendas sem prescrição</a> <br>
		<a href="venda_prescricao">Vendas com prescrição</a> <br>
		<a href="listar_substancias">Consulta de substancias prescritas</a> <br>
		<a href="listar_glicemia">Consulta de valores de glicemia</a>

	</body>
</html>