<html lang="pt">
	<head>
		<meta charset="utf-8">
        <title>Odisseia</title>
        <style>
			html {
				font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
			}
            table, th, td {
              border: 1px solid black;
              border-collapse: collapse;
            }
        </style>
	</head>
	<body>
        {% if cursor %}
        <form method="POST" action="instituicoes">
			<input type="text" id="nome" name="nome" placeholder="Nome da Instituição"/><br>
			<label for="tipo">Tipo de instituição</label>
			<select name="tipo" id="tipo">
				<option value="farmacia">Farmácia</option>
				<option value="laboratorio">Laboratório</option>
				<option value="hospital">Hospital</option>
				<option value="clinica">Clínica</option>
			</select>
			<br>
			{% if concelhos %}
				<label for="num_regiao_concelho">Concelho:</label>
				<select name="num_regiao_concelho" id="num_regiao_concelho">
					{% for concelho in concelhos %}
						<option value="{{ concelho[1] }}_{{ concelho[0] }}">{{concelho[2]}}</option>
					{% endfor %}
				</select>
			{% endif %}
			<br>
			<input type="submit" value="Adicionar"/>
		</form>
		
		<table style="width:70%">
		  <thead>
			<tr>
              <th>Nome</th>
              <th>Tipo da Instituição</th>
			  <th>Número da Região</th>
              <th>Número do Concelho</th>
              <th>Editar</th>
			  <th>Remover</th>
			</tr>
		  </thead>
		  <tbody>      
			{% for record in cursor %}
			  <tr>
				<td>{{ record[0] }}</td>
				<td>{{ record[1] }}</td>
                <td>{{ record[2] }}</td>
                <td>{{ record[3] }}</td>
				<td><a href="editar_instituicao?nome={{ record[0] }}">Editar</a></td>
				<td><a href="apagar_instituicao?nome={{ record[0] }}">Apagar</a></td>
			  </tr>
			{% endfor %}
		  </tbody>
		</table>
	  {% else %}
		<p> Error: failed to retreive data from database!</p>
	  {% endif %}
	  <br>
	  <a href="index">Pagina inicial</a>
	</body>
</html>