<html lang="pt">
	<head>
		<meta charset="utf-8">
        <title>Odisseia</title>
        <style>
			html {
				font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
			}
            table, th, td {
              border: 1px solid black;
              border-collapse: collapse;
            }
        </style>
	</head>
	<body>
        <form method="POST" action="venda">
			<input type="text" id="num_venda" name="num_venda" placeholder="Número"/><br>
			<input type="text" id="substancia" name="substancia" placeholder="Substância"/><br>
			<input type="text" id="quant" name="quant" placeholder="Quantidade"/><br>
			<input type="text" id="preco" name="preco" placeholder="Preço"/><br>	
			<input type="text" id="inst" name="inst" placeholder="Nome da farmácia"/><br>
            <input type="submit" value="Adicionar"/>
		</form>
	  <br>
	  <a href="index">Pagina inicial</a>
	</body>
</html>